<div class="flex h-full flex-col justify-between overflow-hidden">
  <div class="flex justify-center items-center w-full h-full text-[#4c4c4c] overflow-hidden">

    <div *ngIf="joinedRoom === null">Currently not in call</div>

    <div class="w-full h-full flex flex-col justify-center items-center" *ngIf="joinedRoom !== null">
      <div class="w-full overflow-auto text-[#4c4c4c]">
        <div class="w-full min-h-full flex justify-center p-4">
          <div class="flex flex-wrap justify-center gap-4 w-full max-w-7xl">

            <div *ngFor="let participant of joinedRoom.participants" class="w-96 aspect-video bg-[#181818] rounded relative">
              <div class="absolute inset-0 flex justify-center items-center">
                <app-loader class="w-full"></app-loader>
              </div>
              <video autoplay playsinline class=" absolute w-full h-full object-contain rounded"></video>
            </div>

            <div class="w-96 aspect-video bg-[#181818] rounded relative">
              <div class="absolute inset-0 flex justify-center items-center">
                <app-loader class="w-full"></app-loader>
              </div>
              <video #localVideo autoplay playsinline muted class=" absolute w-full h-full object-contain rounded"></video>
            </div>

          </div>
        </div>
      </div>
      <div class="py-4">
        <button (click)="leaveRoom()"
          class="px-4 py-2 bg-red-700 hover:bg-red-800 rounded-full text-[#0c0c0c] flex justify-center items-center w-16 h-16 cursor-pointer">
          <ng-icon name="hero-phone-solid"></ng-icon>
        </button>
      </div>
    </div>
  </div>
  <div
    class="mb-14 sm:mb-0 bg-[#181818] h-16 border-t border-t-[#2B2B2B] flex items-center justify-center overflow-y-hidden overflow-x-auto">
    <div class="flex justify-start items-stretch w-full h-full ">
      <button *ngFor="let room of rooms" (click)="joinRoom(room.id)"
        class="bg-[#131313] flex border-x border-x-[#1F1F1F] items-start hover:bg-[#1A1A1A] cursor-pointer transition-colors">
        <div class="h-full flex flex-row gap-4 justify-center items-center px-4">
          <div *ngIf="room.participantCount === 0" class="w-2 h-2 bg-[#434343] rounded-full"></div>
          <div *ngIf="room.participantCount !== 0 && room.id !== joinedRoom?.id"
            class="w-2 h-2 bg-lime-600 rounded-full"></div>
          <div *ngIf="room.participantCount !== 0 && room.id === joinedRoom?.id"
            class="w-2 h-2 bg-blue-300 rounded-full"></div>
          <div class="flex items-center text-[#4c4c4c]">
            <ng-icon name="hero-user-solid"></ng-icon>
            {{room.participantCount}}
          </div>
        </div>
        <div (click)="deleteRoom(room.id); $event.stopPropagation();"
          class="flex items-start justify-start text-sm cursor-pointer text-[#4c4c4c] p-1">
          <ng-icon name="hero-x-mark-solid"></ng-icon>
        </div>
      </button>
      <div class="flex justify-center items-center px-4">
        <button (click)="addRoom()"
          class="flex gap-2 text-[#4c4c4c] cursor-pointer hover:text-[#3c3c3c] transition-colors">
          <div class="flex items-center text-xl">
            <ng-icon name="hero-plus-solid"></ng-icon>
          </div>
          <div class="min-w-24">
            Create room
          </div>
        </button>
      </div>
    </div>
  </div>
</div>