@import "tailwindcss";

* {
  scrollbar-width: thin;
  scrollbar-color: #545454 #161616;
  
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #1F1F1F;
  
}

*::-webkit-scrollbar-thumb {
  background-color: #161616;
  border-radius: 6px;
  border: 2px solid #131313;
  transition: background-color 0.2s ease;
  
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #3B82F6;
  
}

*::-webkit-scrollbar-corner {
  background: #0F0F0F;
}